.container {
  height: 100vh;
  width: 100%;
  display: flex;

}

.right{
  background: blue;
  width: 33.3%;
  height: 100vh;
}

.middle{

  background: green;
  width: 33.3%;
  height: 100vh;
}
.left{

  background: yellow;
  width: 33.4%;
  height: 100vh;
  position: relative;
}
.bottom-right{

  background: red;
  width: 100%;
  height: 30vh;
  position: absolute;
  /*margin-top: 70vh;
  margin-left: 62.5%;*/
  bottom: 0px;
  font-size: 40px;
  color: white;
  text-align: center;
}
p{
  margin-top: 75px;
}
